@use "../abstracts/function" as fun;

.page-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 5px 25px;
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
}

.page-no-class{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: fun.color-theme("vvlight-blue");
    width: 30px;
    height: 30px;
    transition: all 200ms;
}

.page-active{
    background-color: fun.color-theme("light-blue");
    color: fun.color-theme("light");
}

.pagination-link{
    text-decoration: none;
    color: fun.color-theme('dark');
}