@use "../abstracts/function"as fun;
@use "../abstracts/mixing" as mix;

.changepassword{
    margin-top: 130px;
    padding: 0 1rem;

    &-head{
        h2{
            font-size: 1.7rem;
            color: fun.color-theme("blue");
            font-weight: 600;
            margin-bottom: 20px;
        }
    }

    &-content{
        width: 90%;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.199);
        border-radius: 10px;
        padding: 2rem 1rem;

        @include mix.responsive(sm){
            width: 70%;
        }
        @include mix.responsive(md){
            width: 80%;
        }
        @include mix.responsive(lg){
            width: 50%;
        }


        h4{
            font-size: 1.5rem;
            color: fun.color-theme('blue');
            font-weight: 600;
            text-align: center;
            padding-bottom: 20px;
        }

        form{
            padding-left: 20px;

            label{
                font-size: 1rem;
            }
            button{
                width: 90%;
            }
        }
    }
}