@use "../abstracts/function" as fun ;

.forgotpassword{
    margin-top: 80px;

    &-content{
        width: 80%;
        padding: 2rem 1rem;
        border-radius: 10px;
        box-shadow: 0 10px 10px rgba(187, 187, 187, 0.986);

        .forgotpass-head{
            h3{
                color: fun.color-theme("blue");
                font-weight: 600;
                text-align: center;
                font-size: 1.8rem;
                padding-bottom: 20px;
            }
        }

        button{
            width: 90%;
            margin-top: 20px;
        }
    }
}

.resetpassword{
    margin-top:80px;

    &-content{
        width: 80%;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.226);
        border-radius: 10px;
        padding: 2rem 1rem;

        .resetpassword-head{
            h3{
                text-align: center;
                color: fun.color-theme('blue');
                font-weight: 600;
                font-size: 1.8rem;
                margin-bottom: 20px;
            }
        }

        button{
            width: 90%;
            margin-top: 20px;
        }
    }
}